.field{
    width: 100%;
    height: 100%;
    background-image: url(../images/fieldt.jpg);
    position: relative;
    background-repeat: no-repeat;
    padding: 6%;
    margin: 0% 0 0 2%;
}
.gather{
    width: 100%;
    height: 100%;
    background-image: url(../images/gather.jpg);
    position: relative;
    background-repeat: no-repeat;
    padding: 6%;
    margin: 0% 0 0 2%;
}
.modal-isi{
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
}