
.header {
	text-align:center;
	font-family:"Monotype Corsiva";
	font-size:xx-large;
	background-image:url('../images/background rumput.png');
	background-position:center;
	height:200px;
	padding:175px 0px 0px 0px;
	margin: -150px 0px 0px 0px;
					
	}
	
#tulisan {
	font-family:"Monotype Corsiva";
}
	
ul{
	background-color:yellow;
	text-align:left;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

li{
	float:left;
}

li a {
	display:block;
	color:navy;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-family:"Comic Sans MS";
}

li a:hover {
	background-color:orange;

}


.mySlides {
	display:none;
	margin:0px 250px 0px 250px;	
	background-color:silver;

}

.slide {
	background-color:lime;
	margin:0px 0px 0px 0px;
	background-image:url('../images/daun.jpg');
}


#contact {
text-align:center;

}

.form {
	padding:0% 0% 2% 41%;
	line-height:10mm;	
}




/*.image {
position:absolute;
}*/



.alamat {
	background-color:green;
	text-align:left;
	color:yellow;
	padding:10px 0px 10px 10px;
	margin:0;
	font-family:"Comic Sans MS";
	font-weight:lighter;
	
}

p.small {
	line-height:150%;
<<<<<<< HEAD
    color: white;
=======
>>>>>>> refs/remotes/Shinta5416/master
}

.logo {
	float:right;
	margin: -8% 1% 1% 1%;
	padding:1px 1px 1px 1px;
	
}


