/*
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      .item {
        width:  50px;
        height: 50px;
        float: left;
        background: #2296DD;
        border: 2px solid #333;
      }

      .item.thumbnail {
        width:  100px;
        height: 100px;
        background: #cfcfcf
      }

      .item.medium {
        width:  150px;
        height: 50px;
        background: #A6E392
      }

      .item.large {
        width:  200px;
        height: 100px;
        background: #D092E3
      }*/
   
body {	background-color:#e1e1e1;
				color:#fff;
				font-family: Arial, sans-serif;
				font-size:11px;
				line-height: 14px;
				padding:0px;
				margin:0px;	
				}


.box { 	background-color:#ff4499;
				-moz-border-radius:3px;
  		  -khtml-border-radius: 3px;
				-webkit-border-radius:3px;
				border-radius:3px;

 
-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
    -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
        
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;


                 
        				}
			
#container { background: green;}

.size21, .size22, .size23, .twocols { background: #ccc }
.size31, .size32, .size33, .threecols { background: #ff9999 }

a.btn {
  margin-right: 1px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  width: 75px;
  color: red;
}