
.header {
	text-align:center;
	padding:10px 10px 10px 10px;
	background-color:lime;
	font-family:"Monotype Corsiva";
	font-size:xx-large;
		
	}
	
ul{
	background-color:yellow;
	text-align:left;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

li{
	float:left;
}

li a {
	display:block;
	color:navy;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

li a:hover {
	background-color:silver;

}


.mySlides {
	display:none;
	margin:0px 0px 0px 0px;	
	background-color:silver;

}

.slide {
	background-color:silver;
	margin:-20px 0px -16px 0px;
	
}


#contact {
text-align:center;

}

.form {
	padding:0% 0% 2% 41%;
	line-height:10mm;	
}




/*.image {
position:absolute;
}*/



.alamat {
	background-color:green;
	text-align:left;
	color:white;
	padding:10px 0px 10px 10px;
	margin:0;
}

p.small {
	line-height:150%
}

.logo {
	float:right;
	margin: -8% 1% 1% 1%;
	padding:1px 1px 1px 1px;
	
}


